@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100;200;300;400;500;600;700;800;900;1000&display=swap');

body
{
    position: relative; 
    background-color: #11224e;
    background-image: url(../img/font.png);
    background-repeat: no-repeat; 
    font-family: 'Roboto Flex', sans-serif;
}
H1
{
    color:black; 
    font-style: normal;
    font-weight: 700;
    font-size: 26px; 
    display: flex;
    margin: 0px;
    align-items: center;
    text-align: center; 
}
.com1 , .com2
{
    font-size: 14px;
    color:red;
    margin: 0%;
    padding: 0px 20px;
}
.open
{
    position: relative;
    display: flex;
    width: 493px;
    height: 334px;
    padding: 40px 24px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
    background: #DFEBF7;
    margin-top: 12%;
    margin-left: 11%;
}

.open  input[type="text"], input[type="password"]
{ 
    width: 405px;
    font-size: 16px;
    display: flex;
    padding: 12px 20px;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    display: flex;
    padding: 12px 20px;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    border-radius: 12px;
    border: 1px solid var(--gray-100, #DCDCDF);
    background: var(--gray-white, #FFF);
}
 
.open  input[type="submit"]
{ 
    width: 400px;
    padding: 12px 20px;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    border-color: rgba(251, 155, 81, 0.30);
    border-radius: 48px;
    background: rgba(251, 155, 81, 0.30);
    color: #FFF;
}

.open  input[type="submit"]:hover
{    
    background: #FB9B51; 
    border-color: #FB9B51;    
}

.open a
{
    margin-top: 5%;  
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    align-self: stretch;
    color: #000;
    text-align: center;
    font-size: 18px; 
    line-height: 150%;
}