@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100;200;300;400;500;600;700;800;900;1000&display=swap');

body
{
    background-color: #fff;
    position: relative;
    margin: 0px; 
    font-family: 'Roboto Flex', sans-serif;   
    overflow-x: hidden;  
}

header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    font-weight: 300;
    gap: 10px;
    position: absolute;
    width: 94.8%;
    height: 40px;
    left: 0px;
    top: 0px; 
    background: #DFEBF7;
    box-shadow: 0px 2px 6px 0px rgba(44, 57, 121, 0.60);    
}

button
{
    background: none; 
    border: none;
}

nav
{
    margin: 0% auto;   
}  

.menu   
{
    margin: 3% 0%; 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: auto;
    height: 25px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.menu li
{
    float: left;
    display: block; 
    margin-right: 29px; 
}
    
.menu a
{
    color: #000;
    text-decoration: none;  
    font-weight: 300;
    font-size: 20px; 
} 

.menu li:hover
{
    margin-top: -0.35%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px;
    gap: 10px; 
    background: #11224E;
    border-radius: 200px;
    flex: none;
    order: 0;
    flex-grow: 0;  
} 

.menu a:hover
{
    color: #F88125; 
} 

.li_active
{
    margin-top: -0.35%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px;
    gap: 10px; 
    background: #FB9B51;
    border-radius: 200px;
    flex: none;
    order: 0;
    flex-grow: 0; 
}

#li_active    
{
    font-style: normal;
    font-size: 20px;
    line-height: 24px; 
    align-items: center;
    letter-spacing: 0.24px;
    color: #FFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#li_active:hover
{
    color: #F88125;
}

#logo_exit
{
    margin-top: 35%;
    margin-left: 50%
}

.forma-edit
{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    gap: 20px;
    width: 750px;
    height: 300px; 
    margin: 13% 25%;
    border-radius: 40px; 
}

h1
{    
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 5px;
    text-align: center;
    letter-spacing: 1px; 
    color: #000000;  
}

#selectID
{
    font-size: 22px;
    box-sizing: border-box; 
    padding: 12px 20px;  
    width: 600px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #DCDCDF;
    border-radius: 12px; 
    margin-left: 5%;    
}

.formas
{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 20px;    
}

p
{
    width: 690px;
    margin: 10px 0%;
    display: flex;
    align-items: center;
}

#text_label
{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-align: right;
    color: #000000;
}

.formas>.btn_del_info
{  
    width: 350px;
    height: 80px;
    color: #FFFFFF;
    margin: 3% auto 1%; 
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 24px; 
    display: flex; 
    padding: 28px 111px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 116px; 
    background: #2C599D;
    border: 1px solid #2C599D;
}

.formas>.btn_del_info:hover
{    
    background: #F88125; 
    border-color: #F88125;    
}

.del_info
{
    width: 600px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid #000;
    margin: 0% auto ;
    padding: 15px;
    font-size: 24px;
    font-weight: 100;
    font-family: 'Roboto Flex', sans-serif;
}