@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100;200;300;400;500;600;700;800;900;1000&display=swap');

body
{
    background-color: #FFFFFF;
    font-family: 'Roboto Flex', sans-serif;  
    position: relative;
    margin: 0px;    
    overflow-x: hidden; 
}

header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    font-weight: 300;
    gap: 10px;
    position: fixed;
    width: 94.8%;
    height: 40px;
    left: 0px;
    top: 0px; 
    background: #DFEBF7;
    box-shadow: 0px 2px 6px 0px rgba(44, 57, 121, 0.60);    
}

button
{
    background: none; 
    border: none;
}

nav
{
    margin: 0% auto;   
}  

.menu   
{
    margin: 3% 0%; 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: auto;
    height: 25px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.menu li
{
    float: left;
    display: block; 
    margin-right: 29px; 
}
    
.menu a
{
    color: #000;
    text-decoration: none;  
    font-size: 20px; 
} 

.menu li:hover
{
    margin-top: -0.35%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px;
    gap: 10px; 
    background: #11224E;
    border-radius: 200px;
    flex: none;
    order: 0;
    flex-grow: 0;  
} 

.menu a:hover
{
    color: #F88125; 
} 

.li_active
{
    margin-top: -0.35%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px;
    gap: 10px; 
    background: #FB9B51;
    border-radius: 200px;
    flex: none;
    order: 0;
    flex-grow: 0; 
}

#li_active    
{
    font-style: normal;
    font-size: 20px;
    line-height: 24px; 
    align-items: center;
    letter-spacing: 0.24px;
    color: #FFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#li_active:hover
{
    color: #F88125;
}

#logo_exit
{
    margin-top: 35%;
    margin-left: 50%
}

.forma
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    gap: 20px;
    width: auto; 
    max-width: 1300px; 
    margin: 10% auto;  
}

table
{
    margin-bottom: 25px;
}

td
{
    padding: 5px 10px;
    text-align: center;
    font-weight: 300;
}

tr 
{
    box-shadow: inset 0px -1px 0px #d5d6da;
}

.but_setting
{
    display: flex;
    width: 240px;
    height: 52px;
    padding: 10px 52px ;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; 
    background: #45576D; 
    border-radius: 52px;
}

#buts
{
    display: flex;   
    flex-shrink: 0;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 80px;
}

.but_setting a
{
    color: #FFFFFF;
    font-family: 'Roboto Flex', sans-serif;  
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-decoration: none; 
    text-transform: uppercase;
}

#but_edit:hover, #but_del:hover, #but_add:hover
{
    background: #28353D;
}

#but_edit:active, #but_del:active, #but_add:active 
{
    background: #1A3B70;
}

h1
{
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 5px;
    text-align: center;
    letter-spacing: 1px; 
    color: #000000;  
}

#row_id 
{
    font-weight: 700 ;
}