@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100;200;300;400;500;600;700;800;900;1000&display=swap');

body
{
    background-color: #11224E;
    position: relative;
    margin: 0px;   
    height: 1500px;
    overflow-x: hidden; 
    font-family: 'Roboto Flex', sans-serif;
}

header
{
    display: flex;
    width: 100%;
    height: 30px;
    padding: 16px 40px;
    justify-content: space-between;
    align-items: center;
    background: #DFEBF7;
    box-shadow: 0px 2px 6px 0px rgba(44, 57, 121, 0.60);
}

#logo
{
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 4px; 
    flex: none;
    order: 0;
    flex-grow: 0;
    background: #DFEBF7;
    border: none;
}

#select_department
{
    font-size: 22px;
    box-sizing: border-box; 
    padding: 12px 20px;  
    width: 600px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #DCDCDF;
    border-radius: 12px; 
    margin-left: 5%;    
}

.forma-reg
{
    flex-shrink: 0;
    width: auto;
    height: 1200px;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 9% auto;
    border-radius: 40px; 
    color: #FFFFFF;
}

h1
{    
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 24px; 
    text-align: center;
    letter-spacing: 0.5px; 
}

.reg_forma  input[type="text"] 
{
    font-family: 'Roboto Flex', sans-serif;    
    font-size: 28px;
    box-sizing: border-box; 
    padding: 12px 20px;  
    width: 500px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #DCDCDF;
    border-radius: 12px; 
    margin-left: 5%;
    font-weight: 100;
}

.reg_forma
{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 20px; 
    height: auto;
}

p
{
    margin: 10px 0%;
    display: flex;
    align-items: center;
}

#text_label
{
    width: 400px;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 130%;
    text-align: right;
}

.reg_forma  input[type="submit"]
{  
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 520px;
    height: 78px;
    color: #FFFFFF;
    margin: 2% auto;
    background: #FB9B51;
    border-radius: 20px;
    border: 1px solid #FB9B51; 
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 24px;
    font-family: 'Roboto Flex', sans-serif;
}

.reg_forma  input[type="submit"]:hover
{    
    background: #F88125; 
    border-color: #F88125;    
}