@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100;200;300;400;500;600;700;800;900;1000&display=swap');

body
{
    background-color: #FFFFFF;
    font-family: 'Roboto Flex', sans-serif;  
    /* position: relative;
    margin: 0px;    
    overflow-x: hidden;  */
}

button
{
    background: none; 
    border: none;
}

.btn_close
{
    margin-left: 96%; 
    cursor: pointer;
    background: none; 
    border: none;
}

.modal_back:before 
{
	content: '';
	background: #000;
	position: absolute; 
	left: -72%;
	top: -47%;
	width: 241%; 
	height: 173%;
	opacity: 0.7; 
}

.modal__wrapper
{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(100%);
}

.modal__wrapper.open
{
    height: 100%;
    display: block;
}

.modal__wrapper.close
{
    height: 0;
    display: none;
}

.forma_modal input[type="submit"]
{
    width: 520px;
    height: 78px;
    color: #FFFFFF;
    margin: 50px auto 20px;
    background: #2C599D;
    border-radius: 20px;
    border: 1px solid #2C599D;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 24px;
}

.forma_modal
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 15px;
    gap: 20px;
    background-color: #FFFFFF;
    width: 950px;  
    min-width: 500px;
    margin: auto;
    margin-top: 2%;
    max-height: 600px;  
    overflow-y: scroll;
    border-radius: 25px; 
}

.forma_modal::-webkit-scrollbar
{
    width: 0;
    background: transparent;
}

.forma_modal
{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

h1
{
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 5px;
    text-align: center;
    letter-spacing: 1px; 
    color: #000000;  
}

.formas_modal  input[type="text"] 
{
    font-size: 22px;
    box-sizing: border-box; 
    padding: 12px 20px;  
    width: 450px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #DCDCDF;
    border-radius: 12px; 
    margin-left: 5%;
    
}

.formas_modal_del input[type="text"] 
{
    font-size: 22px;
    box-sizing: border-box; 
    padding: 12px 20px;  
    width: 250px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #DCDCDF;
    border-radius: 12px; 
    margin-left: 5%;
}

.formas_modal
{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 20px;  
}

.forma_modal p
{
    width: 890px;
    min-width: 600px;
    margin: 10px 0%;
    display: flex;
    align-items: center;
}

.formas_modal_del #text_label
{
    width: 100px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-align: right;
    color: #000000;
}


#text_label
{
    min-width: 100px;
    width: 450px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-align: right;
    color: #000000;
}

.formas_modal  input[type="submit"]
{  
    width: 520px;
    height: 78px;
    color: #FFFFFF;
    margin: 50px auto 20px;
    background: #2C599D;
    border-radius: 20px;
    border: 1px solid #2C599D;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 24px;
}

.formas_modal_del input[type="submit"]
{  
    width: 320px;
    height: 78px;
    color: #FFFFFF;
    margin: 50px auto 20px;
    background: #2C599D;
    border-radius: 20px;
    border: 1px solid #2C599D;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 24px;
}

.formas_modal  input[type="submit"]:hover
{    
    background: #F88125; 
    border-color: #F88125;    
}


.selectID_add
{
    font-size: 22px;
    box-sizing: border-box; 
    padding: 12px 20px;  
    width: 600px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #DCDCDF;
    border-radius: 12px; 
    margin-left: 5%;    
}

.com1
{
    position: absolute;
    left: 48%;
    top: 31.5%;
    width: 600px;
    float: right;
    font-size: 11pt; 
    color: red;
}

.searchs 
{
    color: #FFFFFF;
    margin: auto 5% auto 3%;
    height: 48px;
    width: 90px;
    background: #2C599D;
    border-radius: 20px;
    border: 1px solid #2C599D;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 24px;
}

#selectID
{
    font-size: 22px;
    box-sizing: border-box; 
    padding: 12px 20px;  
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #DCDCDF;
    border-radius: 12px; 
    margin-left: 5%;    
}