@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100;200;300;400;500;600;700;800;900;1000&display=swap');


body
{
    position: relative; 
    /* background-color: #11224e;
    background-image: url(./components/img/font.png);
    background-repeat: no-repeat;*/ 
    font-family: 'Roboto Flex', sans-serif;
} 

.btn_close
{
    margin-left: 96%; 
    cursor: pointer;
    background: none; 
    border: none;
}

.body_autho .modal_back:before 
{
	content: '';
	background: #000;
	position: absolute; 
	left: -72%;
	top: -47%;
	width: 241%; 
	height: 173%;
	opacity: 0.7; 
}

.body_autho .modal__wrapper
{
    position: fixed;
    bottom: 0;
    left: -5%;
    width: 110%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(100%);
}

.body_autho .modal__wrapper.open
{
    height: 100%;
    display: block;
}

.body_autho .modal__wrapper.close
{
    height: 0;
    display: none;
}

.body_autho .forma_modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 15px;
    gap: 20px;
    background-color: #FFFFFF;
    width: 850px;
    min-width: 500px;
    margin: auto;
    margin-top: 2%;
    max-height: 600px;
    overflow-y: scroll;
    border-radius: 25px;
}

.body_autho
{
    padding: 9.1% 9%;
    position: relative; 
    background-color: #11224e;
    background-image: url(../img/fonts.png);
    background-repeat: no-repeat; 
    font-family: 'Roboto Flex', sans-serif;
    margin: -1.5%;
    height: 68%;
    width: 83.5%;
    overflow-x:hidden; 
}
.open_autho h1
{
    color:black; 
    font-style: normal;
    font-weight: 700;
    font-size: 26px; 
    display: flex;
    line-height: 28px;
    margin: 0px;
    align-items: center;
    text-align: center; 
}
.com1 , .com2
{
    font-size: 14px;
    color:red;
    margin: 0%;
    padding: 0px 20px;
}
.open_autho
{
    position: relative;
    display: flex;
    width: 550px;
    height: 334px;
    padding: 40px 24px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
    background: #DFEBF7;
    margin-top: 6%;
    margin-left: 3%;
}

.open_autho  input[type="text"], input[type="password"]
{ 
    width: 360px;
    font-size: 16px;
    display: flex;
    padding: 12px 20px;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    display: flex;
    padding: 12px 20px;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    border-radius: 12px;
    border: 1px solid var(--gray-100, #DCDCDF);
    background: var(--gray-white, #FFF);
}

.open_autho  .open_sub
{ 
    width: 400px;
    padding: 12px 20px;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    text-decoration: none;
    border-color: rgba(251, 155, 81, 0.30);
    border-radius: 48px;
    background: rgba(251, 155, 81, 0.30);
    
}

.open_sub a
{
    text-decoration: none;
    color: #FFF;
}

.open_autho  .open_sub:hover
{    
    background: #FB9B51; 
    border-color: #FB9B51;    
}

.open_autho .btn_reg
{
    margin: 5% auto;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    align-self: stretch;
    color: #000;
    text-align: center;
    font-size: 18px; 
    line-height: 150%;
}

.reg  input[type="text"] 
{
    font-family: 'Roboto Flex', sans-serif;    
    font-size: 24px;
    box-sizing: border-box; 
    padding: 12px 20px;  
    width: 400px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #DCDCDF;
    border-radius: 12px; 
    margin-left: 5%;
    font-weight: 100;
}

.reg
{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 20px; 
    height: auto;
}

.body_autho .forma_modal .reg p
{
    width: 750px;
    margin: 10px 0%;
    display: flex;
    align-items: center;
}

.reg #text_label
{
    width: 350px;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 130%;
    text-align: right;
    color: #000;
}

.reg  .btn_r
{  
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 400px;
    height: 78px;
    color: #FFFFFF;
    margin: 2% auto 0%;
    background: #FB9B51;
    border-radius: 20px;
    border: 1px solid #FB9B51; 
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 24px;
    font-family: 'Roboto Flex', sans-serif;
}

.reg  .btn_r:hover
{    
    background: #F88125; 
    border-color: #F88125;    
}

.btn_reg h1
{
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 5px;
    text-align: center;
    letter-spacing: 1px; 
    color: #000000; 
}