@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100;200;300;400;500;600;700;800;900;1000&display=swap');

body
{
    background-color: #FFFFFF;
    font-family: 'Roboto Flex', sans-serif;  
    position: relative;
    margin: 0px;    
    overflow-x: hidden; 
}

.forma
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    gap: 20px;
    width: auto; 
    max-width: 1300px; 
    margin: 100px auto ;  
}

table
{
    margin-bottom: 25px;
}

td
{
    padding: 5px 10px;
    text-align: center;
    font-weight: 300;
}

tr 
{
    box-shadow: inset 0px -1px 0px #d5d6da;
}

.but_setting
{
    display: flex;
    width: 240px;
    height: 52px;
    padding: 10px 52px ;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; 
    background: #45576D; 
    border-radius: 52px;
}

#buts
{
    display: flex;   
    flex-shrink: 0;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 80px;
}

.but_setting  
{
    color: #FFFFFF;
    font-family: 'Roboto Flex', sans-serif;  
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-decoration: none; 
    text-transform: uppercase;
}

#but_edit:hover, #but_del:hover, #but_add:hover
{
    background: #28353D;
}

#but_edit:active, #but_del:active, #but_add:active 
{
    background: #1A3B70;
}

h1
{
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 5px;
    text-align: center;
    letter-spacing: 1px; 
    color: #000000;  
}

#row_id 
{
    font-weight: 700 ;
}