@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100;200;300;400;500;600;700;800;900;1000&display=swap');
header
{
    display: flex;
    font-family: 'Roboto Flex', sans-serif;  
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    font-weight: 300;
    gap: 10px;
    position: fixed;
    width: 96.8%;
    height: 40px;
    left: 0px;
    top: 0px; 
    background: #DFEBF7;
    box-shadow: 0px 2px 6px 0px rgba(44, 57, 121, 0.60);    
}

button
{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#nav-panel
{
    margin: 0% auto;   
}  

.menu   
{
    margin: 3% 0%; 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: auto;
    height: 25px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.menu li
{
    float: left;
    display: block; 
    margin-right: 29px; 
}
    
.menu a
{
    color: #000;
    text-decoration: none;  
    font-size: 20px; 
} 

.menu li:hover
{
    margin-top: -4.5px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px;
    gap: 10px; 
    background: #11224E;
    border-radius: 200px;
    flex: none;
    order: 0;
    flex-grow: 0;  
} 

.menu a:hover
{
    color: #F88125; 
} 

.li_active
{
    margin-top: -4.5px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px;
    gap: 10px; 
    background: #FB9B51;
    border-radius: 200px;
    flex: none;
    order: 0;
    flex-grow: 0; 
}

#li_active    
{
    font-style: normal;
    font-size: 20px;
    line-height: 24px; 
    align-items: center;
    letter-spacing: 0.24px;
    color: #FFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#li_active:hover
{
    color: #F88125;
}

#logo_exit
{
    margin-top: 35%;
    margin-left: 50%
}
