@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100;200;300;400;500;600;700;800;900;1000&display=swap');

.body-reg
{
    background-color: #2C599D;
    margin: 0px;   
    overflow-x: hidden; 
    font-family: 'Roboto Flex', sans-serif;
}

/* header
{
    display: flex;
    width: 100%;
    height: 30px;
    padding: 16px 40px;
    justify-content: space-between;
    align-items: center;
    background: #DFEBF7;
    box-shadow: 0px 2px 6px 0px rgba(44, 57, 121, 0.60);
} */

#logo
{
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 4px; 
    flex: none;
    order: 0;
    flex-grow: 0;
}

#exit
{
    margin-right: 4%;
}

button
{
    background: #DFEBF7;
    border: none;
}

#select_department
{
    font-size: 22px;
    box-sizing: border-box; 
    padding: 12px 20px;  
    width: 600px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #DCDCDF;
    border-radius: 12px; 
    margin-left: 5%;    
}

.forma-reg
{
    flex-shrink: 0;
    width: auto;
    height: 1200px;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 6% auto 3%;
    border-radius: 40px; 
    color: #FFFFFF;
}

.h1_reg
{   
    color: #FFFFFF; 
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 5px; 
    text-align: center;
    letter-spacing: 1px; 
}

.reg_forma  input[type="text"] 
{
    font-family: 'Roboto Flex', sans-serif;    
    font-size: 28px;
    box-sizing: border-box; 
    padding: 12px 20px;  
    width: 500px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #DCDCDF;
    border-radius: 12px; 
    margin-left: 5%;
    font-weight: 100;
}

.reg_forma
{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 20px; 
    height: auto;
}

.reg_forma p
{
    margin: 10px 0%;
    display: flex;
    align-items: center;
}

.reg_forma #text_label
{
    width: 400px;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 130%;
    text-align: right;
    color: #FFFFFF;
}

.reg_forma  input[type="submit"]
{  
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 520px;
    height: 78px;
    color: #FFFFFF;
    margin: 2% auto 0%;
    background: #FB9B51;
    border-radius: 20px;
    border: 1px solid #FB9B51; 
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 24px;
    font-family: 'Roboto Flex', sans-serif;
}

.reg_forma  input[type="submit"]:hover
{    
    background: #F88125; 
    border-color: #F88125;    
}

nav
{
    margin: 0% auto;   
}  

.menu   
{
    margin: 3% 0%; 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: auto;
    height: 25px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.menu li
{
    float: left;
    display: block; 
    margin-right: 29px; 
}
    
.menu a
{
    color: #000;
    text-decoration: none;  
    font-size: 20px; 
} 

#logo_exit
{
    margin-top: 35%;
    margin-left: 50%
}

.menu li:hover
{
    margin-top: -0.35%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px;
    gap: 10px; 
    background: #11224E;
    border-radius: 200px;
    flex: none;
    order: 0;
    flex-grow: 0;  
} 

.menu a:hover
{
    color: #F88125; 
} 